* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.body {
    font-family: 'Arial';
    font-size: 1.8rem;
}

main {
    /*padding: 7rem 0;*/
}

h1 {
    color: blueviolet;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
    font-size: 4.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', arial, cursive;
}

h2 {
    font-size: 1.8rem;
    position: relative;
}

.boxes {
    height: calc(100vh);
    position: relative;

    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    gap: 2rem 5rem;
}

.box {
    min-height: 10rem;
    min-width: 20rem;
    padding: 1.5rem;
    border: 10px solid red;
    border-radius: 0.4rem;
    background-color: blue;
    color: #FFF;
    font-size: 4rem;
    order: 10;
    /*flex-basis: calc(50% - 5rem); */
    flex: 1;
    gap: 0 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box p, button {
    font-size: 4rem;
}
